<header>
  <h2>Small Business</h2>
  <hr>
</header>
<section>
  <div class="search-group-item">
    <label>Search By Location:</label>
    <p><input (keyup)=searchByLocation(userLocation.value) placeholder="Location" #userLocation></p>
  </div>
  <div class="search-group-item">
    <label>Search By Skill:</label>
     <p><input (keyup)=searchBySkill(skillInput.value) placeholder="Skill Name" #skillInput></p>
    <select (change)=searchBySkill(skillInput.value) #skillInput>
      <option value="Angular">Angular</option>
      <option value="Bogie">Bogie</option>
      <option value="Nginx">Nginx</option>
    </select>
  </div>
</section>
<hr>
<users-list [users]=filteredUsers></users-list>
